<section class="block container">
    <header class="block__header feature__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, voluptatum!</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
          pariatur est esse nemo ex officiis impedit doloremque at repellat
          eos numquam delectus, illo error, rerum omnis minima? Earum ea
          itaque molestias dolorem!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type=" image/webp"
          srcset="/icons/easy@1x.webp 1x, /icons/easy@2x.webp 2x"
        />
        <source
          type=" image/jpg"
          srcset="/icons/easy@1x.jpg 1x, /icons/easy@2x.jpg 2x"
        />
        <img class="feature__image" src="/icons/easy.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply fast websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
          pariatur est esse nemo ex officiis impedit doloremque at repellat
          eos numquam delectus, illo error, rerum omnis minima? Earum ea
          itaque molestias dolorem!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type=" image/webp"
          srcset="/icons/fast@1x.webp 1x, /icons/fast@2x.webp 2x"
        />
        <source
          type=" image/jpg"
          srcset="/icons/fast@1x.jpg 1x, /icons/fast@2x.jpg 2x"
        />
        <img class="feature__image" src="/icons/fast.jpg" alt="" />
      </picture>
    </article>
  <section class="block container">
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">WordPress made easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
          pariatur est esse nemo ex officiis impedit doloremque at repellat
          eos numquam delectus, illo error, rerum omnis minima? Earum ea
          itaque molestias dolorem!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type=" image/webp"
          srcset="/icons/wordpress@1x.webp 1x, /icons/wordpress@2x.webp 2x"
        />
        <source
          type=" image/jpg"
          srcset="/icons/wordpress@1x.jpg 1x, /icons/wordpress@2x.jpg 2x"
        />
        <img class="feature__image" src="/icons/wordpress.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
          pariatur est esse nemo ex officiis impedit doloremque at repellat
          eos numquam delectus, illo error, rerum omnis minima? Earum ea
          itaque molestias dolorem!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type=" image/webp"
          srcset="/icons/support@1x.webp 1x, /icons/support@2x.webp 2x"
        />
        <source
          type=" image/jpg"
          srcset="/icons/support@1x.jpg 1x, /icons/support@2x.jpg 2x"
        />
        <img class="feature__image" src="/icons/support.jpg" alt="" />
      </picture>
    </article>
  </section>