<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Cloud Hosting For Pros</h1>
        <p class="hero__tagline">
          Deploy your websites in less than 60 seconds.
        </p>
        <a href="#" class="buttons buttons--accent buttons--stretched"
          >get started</a
        >
      </header>
      <picture>
        <img
          src="/icons/banner.png"
          srcset="/icons/banner@1x.webp 570w, /icons/banner@2x.webp 1140w"
        />
      </picture>
    </div>
  </section>