<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore fugit
      minus iusto culpa veritatis, nulla sequi earum laborum sint assumenda?
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href=" /icons/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Johne Lumeo</h3>
          <p class="media__description quote__description">Mosh Company CEO</p>
        </div>
      </div>
    </footer>
  </blockquote>